.displayGallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 90%;
    overflow: auto;
   
}
body{
    background-image: url('/images/northShore3.png');
    background-repeat: no-repeat;
    background-size: cover;
}