
.park-photo{
    height: 200px;
    width: 300px;
    margin: 10px;
}
@media only screen and (max-width: 550px){
    .park-photo{
        height: 100px;
        width: 150px;
        margin: 5px;
        
    }
}