
.park-photo{
    height: 75%;
    width: 100%;
    margin-bottom: 7px;
}
@media only screen and (max-width: 550px){
    .park-photo{
        height: 70px;
        width: 130px;
        margin: 5px;
        
    }
}