
.park-photo{
    height: 75%;
    width: 100%;
    margin-bottom: 7px;
}
@media only screen and (max-width: 880px){
    .park-photo{
        height: 150px;
        width: 180px;
        margin: 5px;
        
    }
    h3{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}