.centeredDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.parkCenteredDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 0;
    height: 80%;
    width: 15%;
    padding: 10px
}
/* @media only screen and (max-width: 800px){
    .link {
        float: left;
        color: #f2f2f2;
        background-color: #3F805A;
        text-align: center;
        padding: 24px 10px;
        text-decoration: none;
        font-size: 10px;
      
        these last two make the logout button in
        the nav bar look like another link 
        border:none;
        cursor: pointer;
        outline:0;
      }
      .descriptionLink {
          font-size: 10px;
        }
   
} */
/* .centeredScrollDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
} */
.max-width70{
    max-width: 70%; 
}
.padding20{
    padding: 20px;
}
img{
    border-radius: 5px;
}
h1{
    width: 100%;
    text-align: center;
}

.link {
  float: left;
  color: #f2f2f2;
  background-color: #3F805A;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}
.descriptionLink {
    float: left;
    color: #f2f2f2;
    background-color: #3F805A;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    height:100%;
    width: 100%;
    /* these last two make the logout button in
    the nav bar look like another link */
    border:none;
    cursor: pointer;
    outline:0;
  }
.descriptionBtn {
    display: inline-block;
    border-color: #3F805A;
    border-width: 1px 1px 3px;
    border-radius: 4px;
    background-color: #3F805A;
    color: #f8f8f8;
    font-size: 1.1rem;
    outline: 0;
    cursor: pointer;
    height: 40px;
    margin: 20px;
    padding: 10px;
  }
  .userBtn {
    display: inline-block;
    border-color: #3F805A;
    border-width: 1px 1px 3px;
    border-radius: 4px;
    background-color: #3F805A;
    color: #f8f8f8;
    font-size: 1.1rem;
    outline: 0;
    cursor: pointer;
    height: 40px;
    padding: 10px;
  }
  .widthDiv{
      width: 100%;
      text-align: center;
  }
