.nav-title {
  height: 75px;
  width: 75px;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  margin: 0 0 30px;
  background-color: #3F805A;
  overflow: hidden;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #3F805A;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #008183;
}

.nav-right {
  float: right;
}