.descripPara{
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
    
}
@media only screen and (max-width: 760px){
.MuiCard-root.parkDetailsCard{
    max-height: 640px;
    overflow-y: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
}